table, th, td {
	border: 5px solid black;
	padding: 10px;
	border-collapse: collapse;
}
tr{
	background-color: #ECF0F1;
}
th{
	background-color: #4D4C47;
	color: #ECF0F1;
}
body{
	background-color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
}